// -----------------------------------------------------------------------------
//Estilos básicos
// -----------------------------------------------------------------------------
//normalizado de cajas 
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
//links
a {
  color: $brand-color;
  text-decoration: none;
 /*  @include on-event {
    color: $text-color;
    text-decoration: underline;
  } */
}
//font body
body {
  font-family: monospace;
}
//contenedor
.contenedor {
  width: 960px;
  margin: 0 auto;
}
 img {
  width: 100%;
  height: auto;
} 
